:root {
    --color-grey: #A2A2A2;
    --color-active: #FF8E09;
    --color-active-contrast: #FFF;
    --color-light-active: #FFF3E4;
    --color-light-active-contrast: #1E1E1E;
    --color-grey: #1E1E1E;
}
